@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './typography.css';
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@font-face {
    font-family: 'Mona Sans';
    font-weight: 200 900;
    font-display: block;
    font-style: normal;
    font-stretch: 75% 125%;
    src: url('../fonts/Mona-Sans.var.woff2') format('woff2');
}

@font-face {
    font-family: 'Gin';
    font-weight: 600;
    font-display: block;
    font-style: normal;
    font-stretch: 75% 125%;
    src: url('../fonts/Gin-Regular.otf') format('otf');
}


#main-menu .menu-item {
    @apply relative isolate -mx-6 bg-neutral-950 px-6 py-10 sm:mx-0 sm:px-0 sm:py-16 sm:odd:pr-16  sm:even:pl-16
}


#main-menu .menu-item:focus-visible a::before, #main-menu .menu-item:hover a::before{
    @apply opacity-100
}

#main-menu .menu-item:nth-child(odd) a::before{
    @apply right-0
}

#main-menu .menu-item:nth-child(even) a::before{
    @apply left-0 border-l border-neutral-800

}

#main-menu .menu-item a::before {
    content: '';
    @apply border-t border-neutral-800 absolute inset-y-0 -z-10 w-screen bg-transparent hover:bg-neutral-900 transition group-odd:right-0 group-even:left-0 group-hover:opacity-100

}