@import '../../vendor/filament/forms/dist/index.css';
@import './typography.css';

/*import google font*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

input:-internal-autofill-selected {
    background-color: transparent !important;
}

:root {
    --primary: #ABE85E;
    --secondary: #1C211B;
    --foreground: #161A15;
    --accent: #19669b;
    /* --primary-darker: #00264d;
    --primary-dark: #003266;
    --primary-light: #AAC9E9;
    --tertiary: #F6F6F6;
    --foreground-gray: #221f20;
    --foreground-light: #222123;*/
    --danger: #c02b0a;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-height: 16px;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 5px;
}

.partner {
    flex-basis: calc(50% - 20px);
    flex-grow: 0;

    @media only screen and (min-width: 768px) {
        flex-basis: calc(33.33% - 20px);
    }
}

input::placeholder,
textarea::placeholder {
    font-size: 18px !important;
    color: var(--primary) !important;
    opacity: .25 !important;
    @apply font-display leading-[1];
    letter-spacing: -0.48px;
}

@media only screen and (min-width: 1024px) {

    input::placeholder,
    textarea::placeholder {
        font-size: 24px !important;
    }
}


header .nav>li:not(:last-child)>a::after {
    content: '';
    @apply bg-primary w-[5px] rounded-[50px] h-[5px] mx-[10px];
}

.swiper-slide {
    display: flex !important;
}

#scroll-container {
    overflow: hidden;
    white-space: nowrap;
}

#scroll-text {
    text-align: left;
    transform: translateX(0);
    animation: my-animation 45s linear infinite;
}

@keyframes my-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
    display: flex !important;
    @apply border border-primary items-center justify-center;
}

.swiper-pagination-bullet-active {
    @apply relative;
}

.swiper-pagination-bullet-active::after {
    content: '';
    @apply w-[8px] h-[8px] bg-primary rounded-[50px]
}

#projects+.swiper-pagination {
    transform: rotate(90deg);
    transform-origin: 95% 50%;
    left: unset !important;

    @apply absolute bottom-[70px] right-0;
}

.swiper-pagination {
    @apply flex justify-center items-center;
    width: auto !important;
    height: auto !important;
}

.error::after {
    content: '';
    @apply pointer-events-none absolute top-1.5 right-3 flex items-center h-[24px];
    background-size: cover;
    height: 24px;
    width: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='rgb(220,38,38)' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z' /%3E%3C/svg%3E");
}

.custom-gradient {
    background-image: linear-gradient(180deg, rgba(22, 25, 21, 0.00) 0%, #161915 61.98%);
}


#a-propos .flickity-page-dots {

    right: 0 !important;
    bottom: 0 !important;
    width: 26px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#a-propos .flickity-page-dots .dot {
    background: transparent !important;
    border: 1px solid var(--primary) !important;
    width: 16px !important;
    height: 16px !important;
}




#a-propos .flickity-page-dots .dot.is-selected {
    position: relative;

}

#a-propos .flickity-page-dots .dot.is-selected::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
}

/*.hasFilter::after {*/
/*    content: '';*/
/*    @apply absolute left-0 top-0 w-full h-full;*/
/*    background-image: linear-gradient(180deg, rgba(22, 25, 21, 0.00) 0%, #161915 61.98%);*/
/*}*/


@media only screen and (min-width: 1548px) {
    #swiper-services {
        position: absolute !important;
    }

    #swiper-testimonials {
        position: absolute !important;
    }
}


#a-propos .flickity-viewport {
    height: 860px !important;
    border-radius: 50px;

}

@media only screen and (min-width: 1548px) {
    #swiper-testimonials {
        left: calc((50% - 1548px / 2) + 60px + 80px);
    }

}

/* #swiper-testimonials .flickity-viewport {
    height: 191px !important;

} */


@media only screen and (min-width: 1548px) {
    #swiper-services {
        left: calc((50% - 1548px / 2) + 275px + 80px);
    }

}

/* #swiper-services .flickity-viewport {
    height: 492px !important;

} */