@layer base {

  body,
  h1,
  h2,
  h3 {
    font-size: clamp(calc(var(--min-font-size) * 1px), calc(var(--font-size) * 1px), calc(var(--font-size) / (1920 / 100) * 1vw));
    line-height: calc(var(--line-height-px) / var(--font-size));
  }

  body {
    --font-size: 20;
    --min-font-size: 16;
    --line-height-px: 27;
    @apply text-primary;
  }

  h1 {
    @apply text-white;
  }

  /* h1,
  h2,
  h3 {
    @apply font-bold uppercase;
  } */

  h1,
  .h1 {
    --font-size: 96;
    --min-font-size: 40;
    --line-height-px: 96;
  }

  h2,
  .h2 {
    --font-size: 64;
    --min-font-size: 40;
    --line-height-px: 64;
  }

  h3,
  .h3 {
    --font-size: 48;
    --min-font-size: 34;
    --line-height-px: 48;
  }
}